<GridLayout rows="*" columns="*" [height]="config?.height || 350" [width]="config?.width || 350"
    (tap)="flip()">
    <!-- margins here so it doesn't get cut when it goes over the parent's boundaries -->
    <GridLayout #front margin="10" row="0" col="0" borderRadius="20">
        <ns-card-front [backgroundImg]="config?.backgroundImage" [tint]="config?.tint" [title]="config?.title"></ns-card-front>
    </GridLayout>
    <GridLayout #back margin="10" row="0" col="0" borderRadius="20">
        <ns-card-back [description]="config?.description"></ns-card-back>
    </GridLayout>
</GridLayout>
